.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.25rem;
}

.name {
	font-weight: bold;
}

.level {
	font-size: 0.9rem;
	color: var(--grey);
	font-style: italic;

	&:before {
		content: '(';
		margin-right: 0.25rem;
	}

	&:after {
		content: ')';
		margin-left: 0.25rem;
	}
}
