h1,h2,h3,h4,h5,h6,p,hr,ul {
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 1.5rem;
}

hr {
	margin-bottom: 0.5rem;
}

h4, h5, h6 {
	font-size: 1rem;
}

a {
	color: unset;
}


body {
	padding: 1rem;

	@media only screen and (min-width: 768px) {
		padding: 1rem;
	}
}

body.dark {
	@media not print {
		color: #f5f5f5;
		background: #0a0a0a;

		button {
			color: #f5f5f5;
		}

		img {
			-webkit-filter: invert(100%);
			filter: invert(100%);
		}
	}
}

:root {
	font-size: 16px;

	@media print {
		padding: 0;
		margin: 0;
		font-size: 11pt;

		body {
			padding: 0;
			margin: 0;
		}
	}
}
