h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
ul {
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 1.5rem;
}

hr {
	margin-bottom: 0.5rem;
}

h4,
h5,
h6 {
	font-size: 1rem;
}

h5 {
	font-weight: 500;
}

a {
	color: unset;
}

body {
	--grey: rgb(100, 100, 100);
	--black: rgb(0, 0, 0);
	--white: rgb(255, 255, 255);

	padding: 1rem;

	@media only screen and (min-width: 768px) {
		padding: 1rem;
	}
}

body.dark {
	--grey: rgb(175, 175, 175);
	--black: rgb(255, 255, 255);
	--white: rgb(0, 0, 0);

	@media not print {
		color: #f5f5f5;
		background: #0a0a0a;

		button {
			color: #f5f5f5;
		}

		img:not(.companyLogo) {
			-webkit-filter: invert(100%);
			filter: invert(100%);
		}
	}
}

:root {
	font-size: 16px;

	@media print {
		padding: 0;
		margin: 0;
		font-size: 11pt;

		body {
			padding: 0;
			margin: 0;
		}
	}
}

.hideOnPrint {
	@media print {
		display: none;
	}
}

.textCenter {
	text-align: center;
}

.textRight {
	@media only screen and (min-width: 768px), print {
		text-align: right;
	}
}
