.main {
	max-width: 1024px;
	margin: auto;
}

.tools {
	display: flex;
	justify-content: space-between;
	height: 1.5rem;

	@media print {
		display: none;
	}
}

.description {
	padding: 0.5rem;
}

.contacts {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5rem 2rem;
	list-style: none;
	padding: 0.5rem 0;
}

.languagesList {
	list-style: none;
	padding: 0.5rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.25rem 1rem;
}

.experienceList {
	list-style: none;
	padding: 0.5rem 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

/* .techCloud {
	padding: 0.5rem 0;
	list-style: none;
	text-align: justify;

	@media only screen and (min-width: 768px), print {
		padding: 0;
	}

	@media not print {
		display: none;
	}
}
*/

.techCloudList {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
	gap: 0.25rem 1rem;
}
