.container {
	list-style: none;
	margin-bottom: 0.5rem;

	@media only screen and (min-width: 768px), print {
		display: grid;
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(2, auto);
	}
}
